<title>Home</title>

<main class="mb-10 px-8 md:flex md:items-center md:flex-row-reverse">
    <div class="relative animate-levitation select-none">
        <img src="/images/nodejs.png" class="absolute top-7 left-0 w-24 h-24">
        <img src="/images/social.svg" class="md:h-[500px]">
        <img src="/images/iconTs.png" class="absolute top-7 right-0 w-24 h-24">
    </div>
    <div class="mt-12 text-center md:text-left">
        <h1 class="text-3xl font-bold mb-2 md:text-6xl">
           Publics
        </h1>
        <p class="mb-4 font-semibold md:text-lg md:w-10/12 ">
            Publics is a little proyect made with the purpose of practicing skills in the development of websites
        </p>
        <a href="/signup">
            <button class=" w-full shadow-sm text-white bg-black font-bold rounded-md px-5 py-3 md:w-2/3 transition duration-100 ease-in hover:bg-gray-700">
                Start now
            </button>
        </a>
    </div>
</main>     