<title>Sign Up</title>

<main class="my-10 flex items-center justify-center">
    <div class="p-8  lg:w-2/5 w-4/5 shadow-lg border-[1px] border-slate-300 rounded">
        <h1 class="font-bold md:text-5xl text-4xl leading-none mb-4 text-center">
            SIGN UP 
        </h1>
        <form id="form" action="/signup" method="post"> 
            <div class="mb-4">
                <label for="username" class="label">
                    Username:
                </label>
                <input class="input" type="text" placeholder="Username" autocomplete="off" id="username" name="username" autofocus>
            </div>
            <div class="mb-4">
                <label for="email" class="label">
                    Email:
                </label>
                <input class="input" type="email" placeholder="email35@example.com" autocomplete="off" id="email" name="email"> 
            </div>
            <div class="mb-4">
                <label for="password" class="label">
                    Password:
                </label>
                <input class="input" type="password" placeholder="*********" autocomplete="off" name="password" id="password">
            </div>
            <div class="mt-4"> 
                <button type="submit" class="button-normal" id="button-submit">
                    Send
                </button>
            </div>
        </form>
    </div>
</main> 
<script src="/js/formsignup.js" type="module"></script>