<footer class=" mt-10 bg-black text-white">
    <div class="py-8 px-6 flex justify-between items-center md:items-start md:px-10 md:py-6">
        <div class="flex flex-col gap-6">
            <h3 class="font-bold text-3xl">
                Publics
            </h3>
            <div class="flex gap-3">
                <a href="https://github.com/rono-51" target="_blank" class="link-circles">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" class="link-circles">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="link-circles">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="flex flex-col gap-2 md:flex-row md:gap-5">
            <a href="/" class="link-footer">Home</a>
            <a href="/signup" class="link-footer">Sign Up</a>
            <a href="/signin" class="link-footer">Sign In</a>
        </div>
    </div>
</footer>